.homeContent{
    padding: 60px;
}

.servicesContent{
    padding: 60px;
}

.scheduleContent{
    padding-top: 60px;
}

body{
    margin-bottom: 80px;
}


/* nav bar menu */
.navbar-collapse {
    display: none;

}
.navbar{
    background-color:#f8f9fa;
}

.navbar-collapse.collapsed {
    display: block;
}


@media (min-width: 759) {
    .navbar-toggler {
        display: none;
    }
    
}




.navbarLogo{
    width: 100%; 
    height: auto; /* Maintain the aspect ratio */
    max-width: 15rem; 
    margin-left: auto;
    margin-right: auto;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
  color:#a1a4a8;
}





/* ------Styling for Service page ------*/

.servicesContent h1{
    padding: 5px;
}

#servicesImage{
    width: 8rem;
    
}

.service-section{
    padding: 10px;
    display:grid;
    grid-template-rows: 1fr;
    gap:10px;
    align-items: center;
}

.service-section-content{
    grid-row: 1;
}

.service-section-image{
    grid-row:1;
}
@media (min-width: 0px) {
    .navbar-expand-md {
      background-color: #343a40;
    }
  }
  

@media (max-width:759px) {
    .service-section{
        padding: 10px;
    }

   .service-section-image{
    grid-row: 2;
    text-align: center;
    padding: 10px;
   }
}





/* ----------------------------------- */


/* Schedule a Call page header */
.schedule_a_call_page-header {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* Center-align title and image */
.page-header { 
    margin-top: 60px; 
    display: flex;
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    margin-bottom: 20px;
    
}

/* Form container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Individual form rows (flex items) */
.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* Adjust as needed */
}

.tablinks{
    color: white; /* Set text color to white */
    background-color: transparent; /* No background color */
    border: none; /* No border */
    font-size: 1.25rem; /* Increase the font size, adjust as needed */
    padding: 0.5rem 1rem; 
    margin-left: auto;
    margin-right: auto;
}

/* Input fields */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 400px;
    /* Adjust the maximum width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


/* Switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.switch input:checked + .switch-label {
    background-color: #34c759;
}

.switch-label:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.switch input:checked + .switch-label:before {
    transform: translateX(20px) translateY(-50%);
    background-color: #fff;
}

/* Form container */
.form-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

/* Individual form rows */
.form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align to the left */
    margin-bottom:auto;
}

/* Adjust the label and input box alignment and width */
.form-row label {
    display: block;
    margin-right: auto;
    margin-bottom: 5px; /* Spacing between label and input */
}

/* Uniform Input Length */
.form-row input[type="text"],
.form-row input[type="tel"],
.form-row input[type="email"],
.form-row textarea {
    width: 400px;; /* Full width of the parent container */
    padding: 10px;
    margin-bottom: 10px; /* Spacing between input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

/* Additional styles for focus state */
.form-row input[type="text"]:focus,
.form-row input[type="tel"]:focus,
.form-row input[type="email"]:focus,
.form-row textarea:focus {
    outline: none;
    border-color: #666;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}


/* footer */
.container{
    margin-top: 20px;
    text-align: center;
}

/* Intro container */
.intro-container {
    max-width: 500px;
    text-align: center;
    margin: 20px auto 30px;
}

.error {
    color: red;
}

.success {
    color: green;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

/* The Close Button */
#closeModal {
    margin-top: 20px;
}




/*------------------- Modal Stlying --------------------*/
#modalButton {
    border: solid 1px;
}

.intro{
    display:flex;
}

.lightbox {
    padding-top: 70px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
}

.homepage-modal-content {
    
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

.homepage-modal-content .close {
    text-align: start;  
    width: 1rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}


/* --------------------------------------------------------- */


.cards {
    padding-top: 20px;
    display:flex;
    flex:1;
    flex-wrap: wrap;
    
}



.card-Body{
    align-items: center;
}


.card-Box{
   
    flex: 1 0 33%; 
    padding: 10px;
    box-sizing: border-box;
}


@media (max-width:759px) {

    .card-Box {
        flex-basis: 100%;
        border-bottom: 1px solid gray;
    }
}





.cards > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; 
  }


.cardFooter{    
  margin-top: auto;
}










.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
}